@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.p-3{
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .p-3:hover {
        background-color: blueviolet; /* Green */
        color:blanchedalmond;
    }
