@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.p-3{
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .p-3:hover {
        background-color: blueviolet; /* Green */
        color:blanchedalmond;
    }
